/* regole generali di pagina */

body{
  font-size: 15px;
}

img {
    margin: 20px 0;
}
/*  regole header */

header {
  margin-top: 100px;
}

header img {
  height: 200px;
  width: auto;
}
/*  regole ricorrenti di pagina */

header div , main div , footer div {
  text-align: center;
}

h2 , p , h3 {
  padding: 20px 50px;
}

/* regole versione tablet */

 @media all and (min-width: 768px) and (max-width: 991px) {

   body {
     font-size: 1.2rem;
   }

    [class*="col-"]{
     float: none;
   }

   main section:first-of-type img{
     height: 280px;
     width: auto;
   }

   main section:first-of-type div {
     margin: 30px 0;
   }

 }

/* regole versione smartphone */

 @media all and (max-width: 768px) {
   body {
     font-size: 1.5rem;
   }

   main .box img{
     height: 200px;
     width: auto;
     border-radius: 50%;
     background-color: #428bca;
   }

   main section:first-of-type div {
     margin: 35px 0;
   }
 }
